.nav-blur{
    transition: backdrop-filter 0.3s;
    transition: background-color 0.3s;

    -webkit-backdrop-filter: saturate(100%) blur(0px);
    backdrop-filter: saturate(100%) blur(0px);
    
}

.nav-blur.active {
    background-color: #0f12229a;

    -webkit-backdrop-filter: saturate(100%) blur(20px);
    backdrop-filter: saturate(100%) blur(20px);
}

.head-gradient {
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(42,54,110,1) 100%);
}

.navbar-dark .navbar-toggler {
    border-color: transparent !important;
    padding-left: 6px;
    padding-right: 0px;

}

.navbar-toggler:focus {
    outline: transparent !important;
    box-shadow: 0 0 0 0 !important;
}

.text-nav{
    font-family: 'Abril Fatface', cursive;
}

.text-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700 !important;
    white-space: pre-line;      /* current browsers */
    word-break: keep-all  !important;
}

.text-button{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700 !important;
}

.text-lic{
    white-space: pre-line;      /* current browsers */
    word-break: keep-all  !important;
}

.alert-light:hover{
    background-color: #ced0d8d7;
}

.hide {
    display: none !important;
}